/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 15, 2018, 9:41:45 PM
    Author     : bradley
*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

form {
    padding: 0px;
}

p {
    font-size: 14px;
    padding-left: 18px;
    line-height: 18px;
}

fieldset {
    width: 97%;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 0px 12px 20px;
    font-size: 18px;
}

legend {
    font-weight: bold;
}

label span {
    font-size: 14px;
    display: inline-block;
    text-align: right;
    width: 86px;
}

h1 {
    background-color: #e8e8e7;
    padding: 12px 0px 12px 24px;
    margin-bottom: 0px;
}

h2 {
    margin: 18px 0px 0px 6px;
}

h3 {
    margin-left: 12px;
}

h4 {
    margin-left: 16px;
}

.menu {
    background-color: #999999;
    padding: 7px 0px 8px 24px;
}

.footer {
    font-size: 14px;
    margin-top: 52px;
    background-color: #EFEFEF;
    padding: 2px 18px 4px 0px;
    text-align: right;
}

.entry_wrapper {
    clear: left;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    border: 1px solid gray;
    padding: 12px 0px 12px 0px;
}
.vote_wrapper {
    width: 60px;
    float: left;
}

.vote_arrow {
    text-decoration: none; 
    text-align: center;
}

.selected_arrow {
    color: red;
}

.vote_arrow a {
    text-decoration: none; 
    color: black;
}

.vote_arrow:link {
    text-decoration: none;
    color: black;
}

.vote_arrow:visited {
    text-decoration: none;
    color: black;
}

.post_wrapper {
    
}

.comment_wrapper {
    clear: left;
    width: 95%;
    margin-bottom: 24px;
    border: 1px solid gray;
    padding: 0px 0px 12px 0px;
    margin: 12px 0px 24px 24px;
}

.comment_header {
    background-color: #E8E8E8;
    height: 24px;
    padding: 6px 0px 2px 6px;
    font-size: 14px;
    font-weight: bold;
}

.comment_body {
    margin: 8px 0px 0px 12px;
    min-height: 40px;
}

a.secondary {
	padding: 0px;
	display: inline-block;
	margin: 0px;
        font-size: 12px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
        text-decoration: none;
}

a.primary{
	border: 1px solid gray;
	padding: 4px 6px;
	display: inline-block;
	margin: 6px 24px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
        text-decoration: none;
}

a.primary:link, a.primary:visited, a.primary:focus {
  margin-left: 0px;
}

a.primary:hover {     
  background: lightgray;
}

a.primary:active {
  background: gray;
  color: black;
}
